# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/movie-app/dist
/tmp
/out-tsc
/bazel-out

# Node
movie-app/node_modules
movie-server/node_modules
npm-debug.log
yarn-error.log

/movie-app/.vscode


# Miscellaneous
/movie-app/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
