<div class="footer-clean" style="font-family: Ubuntu, sans-serif;">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h5 class="text-center">www.MovieMania.com</h5>
                </div>
                <div class="col-lg-12">
                    <p class="text-center">Follow us on!</p>
                </div>
                <div class="col-lg-12">
                     <div class="justify-content-center d-flex gap-3">
                          <img src="assets/Images/instagram.png" height="30px" alt="instagram">
                          <img src="assets/Images/facebook.png" height="30px" alt="facebook">
                          <img src="assets/Images/twitter.png" height="30px" alt="twitter">
                          <img src="assets/Images/youtube.png" height="30px" alt="youtube">
                     </div>
                </div>
            </div>
        </div>
    </footer>
</div>
